body {
  background-image: url(../img/pizzaoven.jpg);
  background-repeat: repeat;
  background-size: cover;
}
.jumbotron {
  text-align: center;
  color: #A99781;
  border: dotted #CA7D2D 5px;
  margin-bottom: 20px;
}
#about {
  float: left;
  margin-right: 420px;
  height: 600px;
  border: dotted #CA7D2D 5px;
  width: 10%;
  padding: 10px 10px 10px 10px;
  text-align: center;
}
h3,h4{
color: #A99781;
text-shadow: 5px 5px 5px black;
}
button {
  margin-top: 10px;
}
